Repository Spindel/base-image: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

container:29:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '29'
  script:
  - make -C container build test publish

container:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C container build test publish

build-image-29:
  stage: build
  tags:
  - x86_64
  script:
  - make -C build-fedora-29 build-publish

build-image:f31:
  stage: build
  tags:
  - x86_64
  script:
  - make -C build-fedora-31 build-publish

python3-image:29:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '29'
  script:
  - make -C python3-image build-publish

python3:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C python3-image build-publish

jstest:f31:
  stage: second
  tags:
  - x86_64
  script:
  - make -C jstest build-publish

debian9-firmware:
  stage: build
  tags:
  - x86_64
  script:
  - make -C debian9-firmware build-publish

debian10-firmware:
  stage: build
  tags:
  - x86_64
  script:
  - make -C debian10-firmware build-publish

nodejs-image:29:
  stage: second
  variables:
    FEDORA_ROOT_RELEASE: '29'
  tags:
  - x86_64
  script:
  - make -C nodejs-image build-publish

nodejs:f31:
  stage: second
  variables:
    FEDORA_ROOT_RELEASE: '31'
  tags:
  - x86_64
  script:
  - make -C nodejs-image build-publish

nginx:29:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '29'
  script:
  - make -C nginx build-publish

nginx:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C nginx build-publish

mongodb:
  stage: build
  tags:
  - x86_64
  script:
  - make -C mongodb build-publish

meteor-image-29:
  stage: second
  tags:
  - x86_64
  script:
  - make -C meteor-fedora-29 build-publish

meteor:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C meteor-image build-publish

c-image-29:
  variables:
    FEDORA_ROOT_RELEASE: '29'
  stage: second
  tags:
  - x86_64
  script:
  - make -C c-image build-publish

c-image:f31:
  variables:
    FEDORA_ROOT_RELEASE: '31'
  stage: second
  tags:
  - x86_64
  script:
  - make -C c-image build-publish

go-image:29:
  stage: second
  variables:
    FEDORA_ROOT_RELEASE: '29'
  tags:
  - x86_64
  script:
  - make -C go-image build-publish

go-image:f31:
  stage: second
  variables:
    FEDORA_ROOT_RELEASE: '31'
  tags:
  - x86_64
  script:
  - make -C go-image build-publish

rust-cross:
  stage: build
  tags:
  - x86_64
  script:
  - make -C rust-cross build-publish

build/container: Use buildah from the future
  build-fedora-31/Dockerfile
  container/Dockerfile
Due: container:29, container:f31, build-image:f31

Revert "container: Select explicit "runc" runtime"
  container/libpod.conf
Due: container:29, container:f31

Update build.mk to 9dfd87f7dd72f31900ebbaa643ca398d6a55d734
  build.mk
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

CI: Show podman info with runtime override
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

Drop all Fedora 29 builds
  .gitlab-ci.yml
  build-fedora-29/.gitignore
  build-fedora-29/Dockerfile
  build-fedora-29/Makefile
  meteor-fedora-29/.gitignore
  meteor-fedora-29/Dockerfile
  meteor-fedora-29/Makefile
  meteor-fedora-29/checksum
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

mongodb: Make mongodb use the subdir for name
  mongodb/Makefile
Due: mongodb

Apply suggestion to mongodb/Makefile
  mongodb/Makefile
Due: mongodb

mongodb: Mongodb container has moved
  .gitlab-ci.yml
  mongodb/Dockerfile
  mongodb/Makefile
  mongodb/mongod.conf
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

meteor: multi-versions of meteor and bumps to 1.10.1
  .gitlab-ci.yml
  meteor-image/Dockerfile
  meteor-image/Makefile
  meteor-image/checksum
  meteor-image/checksum-1.10.1
  meteor-image/checksum-1.8.2
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

meteor: old checksum removed
  meteor-image/checksum
Due: meteor:f31

meteor: maintain two releases
  .gitlab-ci.yml
  meteor-image/Makefile
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

python3-image: Drop pandas again
  python3-image/Makefile
Due: python3-image:29, python3:f31

python3: Re-add libstdc++
  python3-image/Makefile
Due: python3-image:29, python3:f31

Add a debian9 image for cross compiling of C/C++ programs to ARMv7
  .gitlab-ci.yml
  debian9-cross/Dockerfile
  debian9-cross/Makefile
  debian9-cross/cmake_arm-linux-gnueabihf.txt
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

Revert "Merge branch 'buildah-from-future' into 'master'"
  build-fedora-31/Dockerfile
  container/Dockerfile
Due: container:29, container:f31, build-image:f31

container: Move podman.conf to containers.conf
  container/Dockerfile
  container/containers.conf
Due: container:29, container:f31

bootstrap: Move podman.conf to containers.conf
  bootstrap/Dockerfile
  bootstrap/containers.conf
  bootstrap/libpod.conf
Due: none

Fixe file persmissions for meteor build
  meteor-image/Dockerfile
Due: meteor:f31

container/bootstrap: Re-add libpod.conf
  bootstrap/Dockerfile
  container/Dockerfile
Due: container:29, container:f31

container: Downgrade image for container build
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

Revert "container: Downgrade image for container build"
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

build: Also add an override containers.conf /libpod.conf to build
  build-fedora-31/Dockerfile
  build-fedora-31/containers.conf
Due: build-image:f31

bootstrap, container: Remove /etc/containers/libpod.conf
  bootstrap/Dockerfile
  container/Dockerfile
Due: container:29, container:f31

bootstrap: Stop creating /usr/bin/yarn symlink
  bootstrap/Dockerfile
Due: none

bootstrap: Stop uninstalling selinux-policy-targeted
  bootstrap/Dockerfile
Due: none

bootstrap, container: Fix contents of containers.conf
  bootstrap/containers.conf
  container/containers.conf
Due: container:29, container:f31

Update build.mk to 9c22cabc58cebe64455ce2a1b23606eea4693aca
  build.mk
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

build-fedora-31: Don't attempt to install xz, python3-dbus
  build-fedora-31/Dockerfile
Due: build-image:f31

bootstrap: Add missing packages
  bootstrap/Makefile
Due: none

Bah
  build.mk
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

fixup! This maybe fixes stale tags for promote job?
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

container: Try a thing
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

Test with latest working CI image
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

This maybe fixes stale tags for promote job?
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

debian9-firmware: Fix url in backports.list
  debian9-firmware/backports.list
Due: debian9-firmware

CI: Drop the rebuild triggers in favour of scheduled rebuilds
  .gitlab-ci.yml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

Move default tags to template
  .gitlab-ci.yml
  templates/defaults/container-build.yaml
Due: container:29, container:f31, build-image-29, build-image:f31, python3-image:29, python3:f31, jstest:f31, debian9-firmware, debian10-firmware, nodejs-image:29, nodejs:f31, nginx:29, nginx:f31, mongodb, meteor-image-29, meteor:f31, c-image-29, c-image:f31, go-image:29, go-image:f31, rust-cross

Path conditions:
  container:29: any of: .gitlab-ci.yml, build.mk, container/**/*
  container:f31: any of: .gitlab-ci.yml, build.mk, container/**/*
  build-image-29: any of: .gitlab-ci.yml, build.mk, build-fedora-29/**/*
  build-image:f31: any of: .gitlab-ci.yml, build.mk, build-fedora-31/**/*
  python3-image:29: any of: .gitlab-ci.yml, build.mk, python3-image/**/*
  python3:f31: any of: .gitlab-ci.yml, build.mk, python3-image/**/*
  jstest:f31: any of: .gitlab-ci.yml, build.mk, jstest/**/*
  debian9-firmware: any of: .gitlab-ci.yml, build.mk, debian9-firmware/**/*
  debian10-firmware: any of: .gitlab-ci.yml, build.mk, debian10-firmware/**/*
  nodejs-image:29: any of: .gitlab-ci.yml, build.mk, nodejs-image/**/*
  nodejs:f31: any of: .gitlab-ci.yml, build.mk, nodejs-image/**/*
  nginx:29: any of: .gitlab-ci.yml, build.mk, nginx/**/*
  nginx:f31: any of: .gitlab-ci.yml, build.mk, nginx/**/*
  mongodb: any of: .gitlab-ci.yml, build.mk, mongodb/**/*
  meteor-image-29: any of: .gitlab-ci.yml, build.mk, meteor-fedora-29/**/*
  meteor:f31: any of: .gitlab-ci.yml, build.mk, meteor-image/**/*
  c-image-29: any of: .gitlab-ci.yml, build.mk, c-image/**/*
  c-image:f31: any of: .gitlab-ci.yml, build.mk, c-image/**/*
  go-image:29: any of: .gitlab-ci.yml, build.mk, go-image/**/*
  go-image:f31: any of: .gitlab-ci.yml, build.mk, go-image/**/*
  rust-cross: any of: .gitlab-ci.yml, build.mk, rust-cross/**/*
