Repository Spindel/base-image: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

container:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C container build test publish

build-image:f31:
  stage: build
  tags:
  - x86_64
  script:
  - make -C build-fedora-31 build-publish

python3:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C python3-image build-publish

jstest:f31:
  stage: second
  tags:
  - x86_64
  script:
  - make -C jstest build-publish

debian9-cross:
  stage: build
  tags:
  - x86_64
  script:
  - make -C debian9-cross build-publish

debian9-firmware:
  stage: build
  tags:
  - x86_64
  script:
  - make -C debian9-firmware build-publish

debian10-firmware:
  stage: build
  tags:
  - x86_64
  script:
  - make -C debian10-firmware build-publish

nodejs:f31:
  stage: second
  variables:
    FEDORA_ROOT_RELEASE: '31'
  tags:
  - x86_64
  script:
  - make -C nodejs-image build-publish

nginx:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
  script:
  - make -C nginx build-publish

meteor-1.10:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
    METEOR_RELEASE: 1.10.1
  script:
  - make -C meteor-image build-publish

meteor-1.8.2:f31:
  stage: second
  tags:
  - x86_64
  variables:
    FEDORA_ROOT_RELEASE: '31'
    METEOR_RELEASE: 1.8.2
  script:
  - make -C meteor-image build-publish

c-image:f31:
  variables:
    FEDORA_ROOT_RELEASE: '31'
  stage: second
  tags:
  - x86_64
  script:
  - make -C c-image build-publish

go-image:f31:
  stage: second
  variables:
    FEDORA_ROOT_RELEASE: '31'
  tags:
  - x86_64
  script:
  - make -C go-image build-publish

rust-cross:
  stage: build
  tags:
  - x86_64
  script:
  - make -C rust-cross build-publish

Move fedora release setting up front and visible
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Drop job constraints
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Make template out of common build.mk requirements
  .gitlab-ci.yml
  templates/defaults/container-build.yaml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Drop fedora release defaults from Makefiles
  bootstrap/Makefile
  c-image/Makefile
  container/Makefile
  go-image/Makefile
  meteor-image/Makefile
  nginx/Makefile
  nodejs-image/Makefile
  python3-image/Makefile
Due: container:f31, python3:f31, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31

Drop leftover f31 suffixes from jobs names
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Retry jobs failing due to CI system failures
  templates/defaults/container-build.yaml
Due: none

Move deprecated top level image: into defaults:
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Avoid duplicate MR pipelines
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Create a new rust container tracking upstream rust:latest
  .gitlab-ci.yml
  rust/Dockerfile
  rust/Makefile
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

rust: Add dbus to the list of packages
  rust/Dockerfile
Due: none

Drop fedora version number from build-fedora dir
  .gitlab-ci.yml
  build-fedora/.gitignore
  build-fedora/Dockerfile
  build-fedora/Makefile
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Update build target to fedora 33
  .gitlab-ci.yml
  build-fedora/Dockerfile
  build-fedora/Makefile
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Update build.mk to bdfd80a2b08d16fcff5e271efab12f09d73f0b53
  build.mk
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Use FEDORA_ROOT_RELEASE for versioning everywhere
  .gitlab-ci.yml
  build-fedora/Dockerfile
  build-fedora/Makefile
  jstest/Dockerfile
  jstest/Makefile
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Run matrix builds for both fedora-31 and fedora-33
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Update CI to use f33 container image
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

ci: Add a manual bootstrap build job
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

bootstrap: Explicitly list python3-setuptools
  bootstrap/Makefile
Due: none

Add ShellCheck to our build containers
  bootstrap/Makefile
  build-fedora/Dockerfile
Due: none

Teach podman to pull only if missing
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Update build.mk to 1987be57d988f5062d462ef6e4ed3d3e88877694
  build.mk
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Drop ShellCheck manual install from build-container
  build-fedora/Dockerfile
Due: none

Disable Fedora 31 and enable Fedora 34
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

python-image: Remove pip workaround
  python3-image/Dockerfile
  python3-image/excludefiles
  python3-image/get-pip.py
Due: python3:f31

debian*firmware: Add squashfs-tools
  debian10-firmware/Dockerfile
  debian9-firmware/Dockerfile
Due: debian9-firmware, debian10-firmware

BPB: debian9 dockerfile fix
  debian9-firmware/Dockerfile
Due: debian9-firmware

CI: Build in F34 containers
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Add squashfs-tools to build image
  bootstrap/Makefile
  build-fedora/Dockerfile
Due: none

Add squashfs-tools to build image
  bootstrap/Makefile
Due: none

CI: Move meteor builds to third stage
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

container: Have a RUN statement in the test code
  container/test/Dockerfile
Due: container:f31

ci: Use PODMAN_RUNTIME over BUILDAH_RUNTIME
  templates/defaults/container-build.yaml
Due: none

Temporarily swap build container to our current CI branch
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

container/build: Add the crun container environment
  bootstrap/Makefile
  container/Makefile
Due: container:f31

CI: Swap runtime to crun instead of runc
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

Revert "Temporarily swap build container to our current CI branch"
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

CI: Allow us to trigger pipelines from web UI
  .gitlab-ci.yml
Due: container:f31, build-image:f31, python3:f31, jstest:f31, debian9-cross, debian9-firmware, debian10-firmware, nodejs:f31, nginx:f31, meteor-1.10:f31, meteor-1.8.2:f31, c-image:f31, go-image:f31, rust-cross

container: Prepare container for image signing
  container/Dockerfile
  container/Makefile
  container/gitlab_com_modioab.pub
  container/modio.yml
Due: container:f31

Path conditions:
  container:f31: any of: .gitlab-ci.yml, build.mk, container/**/*
  build-image:f31: any of: .gitlab-ci.yml, build.mk, build-fedora-31/**/*
  python3:f31: any of: .gitlab-ci.yml, build.mk, python3-image/**/*
  jstest:f31: any of: .gitlab-ci.yml, build.mk, jstest/**/*
  debian9-cross: any of: .gitlab-ci.yml, build.mk, debian9-cross/**/*
  debian9-firmware: any of: .gitlab-ci.yml, build.mk, debian9-firmware/**/*
  debian10-firmware: any of: .gitlab-ci.yml, build.mk, debian10-firmware/**/*
  nodejs:f31: any of: .gitlab-ci.yml, build.mk, nodejs-image/**/*
  nginx:f31: any of: .gitlab-ci.yml, build.mk, nginx/**/*
  meteor-1.10:f31: any of: .gitlab-ci.yml, build.mk, meteor-image/**/*
  meteor-1.8.2:f31: any of: .gitlab-ci.yml, build.mk, meteor-image/**/*
  c-image:f31: any of: .gitlab-ci.yml, build.mk, c-image/**/*
  go-image:f31: any of: .gitlab-ci.yml, build.mk, go-image/**/*
  rust-cross: any of: .gitlab-ci.yml, build.mk, rust-cross/**/*
